body{
 background-color: black;
 font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
}

p{
 text-align: justify;
   font-size: 15px;
   font-weight: 500;
}

#container{
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: transparent;
 z-index: -3; 
}

header{
	background-color:transparent;
	position: absolute;
	left: 0;
	right:0;
    height: 100%;
    width: 100%;        		   
}

header div.avatar{
   position: relative;
   top: 80px;
   height: 45%; 
   background-color:transparent;

}

header div.avatar img{
   background-color: transparent;
   position: relative;
   top: 16%;
   left: 44%;
   height: 50%;

}

header div.avatar img:hover{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 221, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 221, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0, 0, 221, 0.67);
}


.main{
  position: relative;
  /*top: 700px;*/
  top: 120px;

}


.noBorder {
    border: none;
}

.Cell{
 padding: 0px;
}

.thumbnail{
 margin-bottom: 0px;
 background-color: transparent;
}

.preview{
 margin-bottom: 5px;
}

.preview div.Cell{
padding: 5px;
background: rgb(221,221,221);
height: 400px;
}

.arrow {
    border-bottom: 20px solid;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;   
	color: rgb(221,221,221);
    opacity: 100;
    width: 0;
	position: relative;
	top: -2px;
	margin-left: 40%;
	margin-right: 0px;
	margin-bottom: -7px;
}



div.previewPanel >div.subPanel1 >div.thumbnail{
    position: relative;
}

.subPanel2{
  left: -5%;

}
  
@media (min-width: 1360px) {
  div.previewPanel >div.subPanel1 >div.thumbnail{
     margin-top: 0;
	 height: 85% !important;
     width: 85% !important;
  }
}

@media (max-width: 1360px) and (min-width: 1200px) {
  div.previewPanel >div.subPanel1 >div.thumbnail{
     margin-top: 4%;
	 height: 80% !important;
     width: 80% !important;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  div.previewPanel >div.subPanel1 >div.thumbnail{
     margin-top: 10%;
	 height: 80% !important;
     width: 80% !important;
  }
}

@media (max-width: 1000px) and (min-width: 800px){
  div.previewPanel >div.subPanel1 >div.thumbnail{
     margin-top: 20%;
	 height: 80% !important;
     width: 80% !important;
  }
}

@media (max-width: 800px) {
  div.previewPanel >div.subPanel1 >div.thumbnail{
     margin-top: 25%;
	 height: 80% !important;
     width: 80% !important;
  }
}



h3{
  font-size: 26px;
  font-weight: 600;

}

a.button{
  position: relative;
  display: block;
  height: 40px;
  width: 40%;
  border-style: solid;
  border-width: 3px;
  color: black;
  border-color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  bottom: -5px !important;
  padding-top: 4px;
}

a.button:hover, a.button:focus{
   text-decoration: none;
   color: rgb(140,140,140);
   border-color: rgb(140,140,140);
}


.description p{
   font-size: 16px;
   font-weight: 600;
}

.description a.button{
  color: rgb(230,230,230);
  border-color: rgb(230,230,230);
}

.description a.button:hover, a.button:focus{
    color: black;
    border-color: black;
}


.description{
    position:absolute;
    top:0%;
    height:100%;
    padding:2%;
	padding-top: 0%;
    display: none;
	background:rgba(90, 90, 90, 0.75);
    color:#fff !important;
    z-index:2;

}

@media (min-width: 735px){
.description{
    right:10%;
    width:80%;
}
}

@media (max-width: 735px) and (min-width: 690px){
.description{
    right:7.5%;
    width:85%;
}
}

@media (max-width: 690px) and (min-width: 645px){
.description{
    right:5%;
    width:90%;
}


}

@media (max-width: 645px) and (min-width: 615px) {
.description{
    right:3%;
    width:94%;
}


}


@media (max-width: 615px){
.description{
    right:0%;
    width:98%;
}


}

.container{
  width: 100%;
}

.videopagecontainer{
  position:absolute;
  top: 20%;

}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


a.homepagebtn{
  border-color:#1C70BB;
  color:#1C70BB;
  width: 100px;
  height: 50px;
  position: absolute;
  border-radius: 70px;
  font-size: 16px !important;
  font-weight: 600;
  padding-top: 10px;  

}

a.billboard{
	display: block;
	
	margin-top: 500px;
	text-decoration: none;
	color: inherit;
}

@keyframes electronic {
	
	0%, 100% {
		background-position: 20px -30px;
	}
	25% {
		background-position: 150px 5px;
	}
	50% {
		background-position: 20px 40px;
	}
	75% {
		background-position: -100px 5px;
	}
	
}

a.biliboard {
    position:absolute;
	top: 40px;
	left:45%;
	width: 150px;
	height: 50px;
	padding: 15px;
	text-align: center;
	background: black;
	color: rgb(190,190,190);
	text-decoration: none;
	font-weight: bold;
}

a.unity-l{
 	top: 350px;
	left:20%;
	font-size: 20px;
}

a.me-l{
 	top: 350px;
	left:45%;
	font-size: 20px;
}

a.memories-l{
 	top: 350px;
	left:70%;
	font-size: 20px;
}

a.unity-s{
 	top: 320px;
	left:45%;

}

a.me-s{
 	top: 390px;
	left:45%;

}

a.memories-s{
 	top: 460px;
	left:45%;

}

.biliboard:hover {
  color: #1C70BB;
	
}

.biliboard:hover:before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	transform: scale( 1.02, 1.08 );
	position: absolute;
	background: #f00;
	background: linear-gradient( 90deg, #fafafa, #fafafa, #1D8EF7, #fafafa, #fafafa );
	background-position: 55px 0;
	top: 0;
	animation: linear 1s infinite linear;
	left: 0;
	z-index: -1;
}


.biliboard.electronic:hover:before {
	background: radial-gradient( #1C70BB, #1C70BB, #1C70BB, #1C70BB, #000000, #000000 ) no-repeat;
	background-size: 150px 50px;
	animation: electronic 2s infinite linear;
}

.footer{
 background-color: transparent;
 color: rgb(200,200,200);
 position: relative;
 top: 700px;
 padding: 50px;
 text-align: center;
 font-size: 14px;
 font-weight: 400;
}

.portfoliofooter{
 top: 100px;
}

.homepagefooter{
 top: 500px;
}

.videopagefooter{
 top: 0px;
}

#unityPlayer{
  position: relative;
  margin: auto;
  height: 600px;
  width: 800px;
}

#vid{
  position: relative;
  display: block;
  margin: auto;
}

.rotatecube{
    height: 550px;
}

div.modal-content{
 border-radius: 0px;
}

div.modal-header{
 background-color:rgb(221,221,221);
}

div.modal-header h4{
  font-size: 18px;
  font-weight: 600;
}

div.modal-footer{
 background-color:rgb(221,221,221);
}

div.modal img, div.modal div.text{
 padding: 10px;
 width: 100%;
}

div.modal img.downloadlogo{
  width: 30%;
}

div.modal button.btn-default{
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  color: black;
  border-color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  bottom: -5px !important;
  padding-top: 4px;
  border-radius: 0px;
}

div.modal button.btn-default:hover, button.btn-default:focus{
   color: rgb(140,140,140);
   border-color: rgb(140,140,140);
}

iframe{
 width: 100%;
}
